@font-face
{
    font-family: 'avenirBook';
    src: url('../fonts/AvenirLTStd-Book.otf') format('truetype');
}
@font-face
{
    font-family: 'avenirRoman';
    src: url('../fonts/AvenirLTStd-Roman.otf') format('truetype');
}


*
    padding 0
    margin 0
    --light-color #d9e2ff
    --medium-color #3893c6
    --dark-color #0173b2
body 
    overflow hidden
    cursor none

.cursor 
    width 55px
    height 55px
    border-radius 50%
    background rgba(255,255,255,0.4)
    position absolute
    transform translate(-50%, -50%)
    pointer-events none
    z-index 100

// 
//HOME 
//
.home
    width 100%
    height 100%
    position absolute
    z-index 2
    background linear-gradient(to bottom, var(--light-color), var(--medium-color))
    display flex
    justify-content center

    transition all 2s ease-out 

    
    // TITLE + START
    .title-home
        margin-top 12%   
        z-index 4

    .title-home h1
        top 295px
        font-size 6em
        text-align center
        font-family 'Roboto Condensed'
        text-transform uppercase
        letter-spacing 0.25em
        background linear-gradient(to bottom, var(--dark-color) 30%, var(--light-color))
        -webkit-background-clip text
        -webkit-text-fill-color transparent

    .title-home p#little-message
        text-align center
        font-family 'Roboto Condensed'
        margin-top 21%
        color white
        font-size 1.3em
        opacity 0.8
        letter-spacing 0.1em

    .title-home p#start
        text-align center
        font-family 'Roboto Condensed'
        text-transform uppercase
        margin-top 5%
        color white
        font-size 1.5em
        letter-spacing 0.2em

    .title-home #start-container div.line
        position absolute
        left 50%
        background-color white
        height 2px
        width 2px
        opacity 0

        transition transform 0.7s ease-in-out
        will-change transform, opacity

    .title-home #start-container:hover div.line
        opacity 1
        transform translateX(-3px)scaleX(82)


    // CLOCK
    .clock
        z-index 4
    .clock .hours,
    .clock .minutes
        position absolute 
        top 50%
        left 50%
   
    .clock .hours
        transform rotate(320deg)
        will-change transform 

        animation-name hours-animation
        animation-duration 2s
        animation-play-state paused
        animation-timing-function cubic-bezier(0, 0, 0, 1.10)
        animation-iteration-count 1
        animation-fill-mode forwards

    @keyframes hours-animation 
    {
        0% {transform :rotate(-40deg)}
        100% {transform: rotate(-1800deg)}
    }

    .clock .needle
        position absolute

    .clock .minutes .needle
        width 10px
        height 333px
        left -4px
        bottom -4px
        background rgba(255, 255, 255, 0.8)

    .clock .hours .needle
        width 10px
        height 133px
        left -4px
        bottom -4px
        background var(--dark-color)
        
    //IMAGES
    div#romain-numbers
        position absolute
        top 3%
        z-index 3
        opacity 0.2
    div#triangle
        position absolute
        top 7%
        z-index 3
        opacity 0.5
    div#clock-circle div
        position absolute 
        top 3%
        left 26.1%
        width 914px
        height 914px
        border-radius 50%
        background-color rgba(255, 255, 255, 0.05)

//
//VOLUME
//
.song-volume
    position absolute
    z-index 1
    top 3%
    left 3%

.song-volume img 
    width 20px
    height auto
    position absolute
    will-change opacity
    transition opacity 0.3s ease-in

.song-volume img#mute
    opacity 0


//TIMELINE
//
#timeline
    position absolute
    width 360px
    bottom: 5%
    left calc(50% - 175px)
    z-index 1
    filter drop-shadow(0px 0px 4px #00000050)
    
    

    #line
        //width 350px
        width 1px
        height 2px
        position absolute
        top 8px
        background-color white
        will-change transform
        transition transform 1.8s ease-out
        transform-origin 0 0

    #dates
        display flex 
        justify-content space-between
        

    #dates .date
        &:hover .text-description p
            color #577FA2

    #dates .date.hourglass,
    #dates .date.pendulum-clock
        opacity 0
        pointer-events none
        transition opacity 2s ease-out

    #dates .date.sundial .text-description
        position absolute 
        transform translateX(-20px) translateY(-60px)

    #dates .date.hourglass .text-description
        position absolute 
        transform translateX(-29px) translateY(-60px)

    #dates .date.pendulum-clock .text-description
        position absolute 
        transform translateX(-18px) translateY(-60px)

    #dates .date .text-description p
        text-transform uppercase
        color white
        font-family 'Roboto Condensed'
        letter-spacing 0.15em
        text-align center
        font-size 0.8em
        transition 0.5s color ease-out
        
    #dates .date .circle
        width 16px
        height 16px
        border-radius 50%
        background-color white
        will-change transform 
        transition transform 0.5s ease-out
        box-shadow 2px 2px 1px rgba(0, 0, 0, 0.3)

        &:hover
            transform scaleX(1.2) scaleY(1.2)

        &::after
            content ""
            position absolute
            width 32px
            height 32px
            transform translateX(-9px) translateY(-9px)
            border-radius 50%
            border 1px solid white

    #dates .date .arrow-line
        width 2px
        height 32px
        position absolute
        transform translateX(7px) translateY(-45px)
        background-color white

        &::after
            content ""
            position absolute
            width 5px
            height 5px
            transform translateX(-1.5px)
            border-radius 50%
            background-color white
        
.info-hidden
    transform: translateX(100%) !important
    opacity :0 !important
    transition: all 0.8s ease-in-out
.faded
    opacity :0 !important
    transition: all 0.8s ease-in-out
//
// INFO OF MUSEUM
//
#info
    opacity 1
    transform: translateX(0%)
    box-sizing: border-box
    position: absolute
    width: 450px
    right: 40px
    top 20%
    z-index 1
    font-family 'avenirBook'
    backdrop-filter: blur(20px)
    transition: all 0.8s ease-in-out
    #button-next-prev
        #next-btn
            position: absolute
            right 0
            color white
            padding 15px
            width 50%
            #next-btn-text
                color white 
                font-size 0.9em 
                width: 100%
                text-align right
            #underLine-next
                margin-left: auto
                background: white
                width: 7.6vw
                height: 0.3vh
        #prev-btn
            position: absolute
            left 0
            color white
            padding 15px
            width 50%
            #prev-btn-text
                color white 
                font-size 0.9em 
                width: 100%
                text-align left
            #underLine-prev
                margin-right auto
                background: white
                width: 7.6vw
                height: 0.3vh
    #title
        padding: 0
        margin: 5%
        text-transform uppercase
        color white
        font-size 1.5em
    #description
        padding: 0
        margin: 5%
        color white
        font-size 0.9em 
        line-height: 1.5
    #questions
        background: white
        color: #577FA2
        padding: 4%
        margin-bottom: 2%
        #question
            text-transform uppercase
            font-size 1em
            padding: 0
            margin: 5%
            line-height: 1.6
        #answer
            font-size 0.9em 
            line-height: 1.5
            padding: 0
            margin: 5%

#interaction
    position: absolute
    width fit-content
    left:50%
    transform: translateX(-50%)
    top:3%;
    transition: all 0.8s ease-in-out
    p 
        color white
        font-family 'avenirBook'
